:root[data-bs-theme='light'] {
    --glass-bg: rgba(255, 255, 255, 0.9);
    --bs-border-color: rgb(240, 240, 240);
}
:root[data-bs-theme='dark'] {
    --glass-bg: rgba(30, 30, 30, 1);
    --bs-content-bg: rgb(30, 30, 30);
    --bs-border-color: rgb(40, 40, 40);
}

[data-bs-core='modern'] body {
    background-image: linear-gradient(to bottom right, transparent, 80%, hsla(var(--bs-primary-hsl), 0.025), hsla(var(--bs-primary-hsl), 0.075), hsla(var(--bs-info-hsl), 0.075), hsla(var(--bs-info-hsl), 0.025));
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.sidebar, .navbar {
    border-top: 1px solid var(--bs-border-color);
}

html {
    height: 100vh;
    user-select: none;
    cursor: default;
}

body {
    height: 100%;
    width: 100%;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    cursor: default;
}

.selectable, input, textarea, pre, code {
    -webkit-user-select: text;
    user-select: text;
}

input {
    border-radius: 3px !important;
    padding: 6px !important;
}

.ti {
    /*stroke-width: 1px !important;*/
}

.glass-bg {
    backdrop-filter: blur(2px);
    background-color: var(--glass-bg);
}

.form-control:focus {
    box-shadow: unset;
    border: var(--bs-border-width) solid var(--bs-form-focus-border-color);
}

.table {
    &.table-hover {
        &.hand-cursor {
            cursor: pointer;
        }
    }
}

.scroll-container {
    /* Standard properties */
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent;

    /* Prevents layout shift when scrollbar appears */
    scrollbar-gutter: stable;

    overflow-y: auto;
}

.scroll-container {
    scrollbar-width: auto;
    scrollbar-color: unset;
    overflow-y: auto;
    margin-right: 2px;
}

/* 2. Setup the custom Webkit scrollbar */
.scroll-container::-webkit-scrollbar {
    width: 6px;  /* Square corners look better with a bit more width */
    height: 6px;
    background-color: var(--bs-body-bg); /* Providing a background color helps 'force' the custom look */
}

/* 3. The Track (The 'gutter') */
.scroll-container::-webkit-scrollbar-track {
    background: var(--bs-body-bg);
    border-radius: 0 !important; /* Force square */
}

/* 4. The Thumb (The draggable bit) */
.scroll-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 0 !important; /* This is the key for square corners */
    border: none;                /* Remove any default borders */
}

.scroll-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.cursor-pointer {
    cursor: pointer;
}
